@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#titre {
    margin: 70px;
    font-size: 80px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
}

#inputCP {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
}

body {
    text-align: center;
    font-family: 'Schoolbell', cursive;
    font-size: 15px;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#formulaire {
    border-radius: 20px;
    margin: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    border: solid black 3px;
    background-color: transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    padding: 5px;
}

#boutonVille {
    display: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 50px;
    padding: 10px;
}

.ville {
    display: none;
    margin-top: 20px;
}

#resultat {
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}

.result {
    background-color: transparent;
    margin: 10px;
    width: 23%;
    float: left;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    border: solid black 3px;
}

#inputCP {
    font-size: 20px;
    border: solid black 3px;
    background-color: transparent;
    border-radius: 10px;
}

#refresh {
    font-size: 3em;
    margin: 20px;
}

#param {
    font-size: 3em;
    text-decoration: none;
}

@keyframes slideDownFadeIN {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.modal {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal:target {
    display: table;
    position: absolute;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
}

.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
}

.closebtn:hover,
.closebtn:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

#value {
    display: inline;
    vertical-align: bottom;
}

.container-modal {
    text-align: center;
    padding: 2px 16px;
    font-size: 25px;
}

.container_head {
    padding: 2px 16px;
}

#validerParame {
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 10px;
}

.weather-card {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.6);
    width: 220px;
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 30px;
    transform: translateX(100vw);
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform;
}

.weather-image {
    width: 200px;
    object-fit: cover;
}

.weather-details p {
    margin: 5px 0;
}

em,
select,
a {
    cursor: pointer;
}

#weatherCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .weather-card {
        width: 100%;
        margin: 10px 0;
    }
}

h2 {
    font-size: 60px;
    margin: 40px;
}

hr {
    height: 2px;
    background-color: #000000;
    border: none;
}

.hover img {
    transition: transform 0.3s;
    /* Transition douce pour l'effet de zoom */
}

.hover:hover img {
    transform: scale(1.1);
    /* L'image sera agrandie de 10% */
}

#weatherCardsContainer {
    perspective: 1000px;
}

.weather-details {
    width: 100%;
    gap: 10px;
}

.subgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.icon {
    width: 60px;
    /* ou tout autre taille que vous voulez */
    vertical-align: middle;
    /* pour aligner l'image avec le texte à côté */
}

.grid-item {
    width: 100%;
    box-sizing: border-box;
    /* pour que padding et border ne s'ajoutent pas à la largeur */
}