@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

#titre{
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    font-size: 30px;
}

body{
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    background: #2980B9; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}
#formulaire{
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(0, 0, 0) 5px;
    margin: 10px;
    font-size: 30px;
    margin-left: auto;
}
select{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    border: solid black 3px;
    background-color: transparent;
    border-radius: 10px;
    background-color:#FFFFFF;
    color: black;
    padding: 5px;
}
#boutonVille{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 50px;
    color: black;
    padding: 10px;
    width: 50px;
}
.ville{
    margin-top: 20px;
    display: none;
}
#resultat{
    display: none;
}
.result{

}
#meteo{
    width: 300px;
}
#inputCP{
    font-size: 20px;
    border: solid black 3px;
    background-color: transparent;
    border-radius: 10px;
}